@import "vazirmatn/Vazirmatn-font-face.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.font-vazir {
    font-family: Vazirmatn, sans-serif;
}

body {
    font-family: Vazirmatn, sans-serif;
}

.ae-background {
    background: url("~/wwwroot/images/baner-e-1.jpg");
}