@inherits LayoutComponentBase
<PageTitle>Artela</PageTitle>
<div class="flex flex-col flex-1">
    <div class="flex flex-row justify-between items-center gap-2 p-2 shadow bg-orange-800/25">
        <div class="flex-1 flex flex-col text-white justify-center items-center">
            <span>گالری آرت‌الا</span>
            <span>نقاشی روی چوب</span>
        </div>
        <div class="">
            <img src="/images/baner-e-1.jpg" class="aspect-square h-20 rounded-full border shadow" />
        </div>
    </div>
    <div class="flex flex-col flex-1 shadow overflow-auto">
        @Body
    </div>
    <div class="flex flex-row flex-wrap justify-center items-center gap-2 p-2 shadow bg-orange-800/25 text-white font-bold">
        <div>
            <p class="break-words text-lg">
                جهت سفارش و
                مشاهده کالاهای موجود
                از طریق صفحه اینستاگرام
                با ما در ارتباط باشید
            </p>
        </div>
        <div dir="ltr" class="flex flex-row bg-black/25 rounded shadow">
            <a href="https://www.instagram.com/artela.ir" class="flex-1 flex flex-row justify-center items-center gap-4 p-2 text-xl">
                <img src="images/instagram.png" class="h-12 shadow" />
                <span class="flex-1">@@artela.ir</span>
            </a>
        </div>
    </div>
    <div class="flex flex-col shadow bg-white/25">
        <span dir="ltr" class="flex flex-row p-2 gap-2 rounded justify-center">
            © artela.ir @DateTime.Now.Year | <a class="text-gray-700" href="https://github.com/Alireza2125">Developer: @@alireza2125</a>
        </span>
    </div>
</div>