@inherits LayoutComponentBase
<PageTitle>Artela</PageTitle>
<div class="flex flex-col">
    <div class="flex flex-row">
    </div>
    <div class="flex flex-col">
        @Body
    </div>
    <div class="flex flex-col">
    </div>
</div>